<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.base.mapper.BsBrandManageMapper">

    <resultMap type="com.ruoyi.base.domain.BsBrandManage" id="BsBrandManageResult">
        <result property="id" column="id"/>
        <result property="brandCoded" column="brand_coded"/>
        <result property="brandName" column="brand_name"/>
        <result property="brandLocality" column="brand_locality"/>
        <result property="brandEnabled" column="brand_enabled"/>
        <result property="updateBy" column="update_by"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <select id="selectCoded" resultType="long">
    select MAX(CAST(brand_coded as unsigned)) from bs_brand_manage
    </select>
    <select id="selectListByIds" resultMap="BsBrandManageResult">
        select * from bs_brand_manage
        <where>
            <if test="ids!=null and ids.size()>0">
                id in
                <foreach collection="ids" separator="," index="index" close=")" open="(" item="id">
                    #{id}
                </foreach>
            </if>
            and brand_enabled = '0'
        </where>
    </select>
    <update id="updateBrandName">
      update  bs_goods_info set brand_name= #{bo.brandName}
        where brand_coded=#{bo.brandCoded}
    </update>
</mapper>
