<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.base.mapper.BsWarehouseInfoMapper">

    <resultMap type="com.ruoyi.base.domain.BsWarehouseInfo" id="BsWarehouseInfoResult">
        <result property="id" column="id"/>
        <result property="warehouseCoded" column="warehouse_coded"/>
        <result property="warehouseName" column="warehouse_name"/>
        <result property="warehouseType" column="warehouse_type"/>
        <result property="warehouseOrganization" column="warehouse_organization"/>
        <result property="warehouseAddress" column="warehouse_address"/>
        <result property="warehousePrincipal" column="warehouse_principal"/>
        <result property="warehouseEnabled" column="warehouse_enabled"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
    </resultMap>
    <select id="selectListByIds" resultMap="BsWarehouseInfoResult">
        select * from bs_warehouse_info
        <where>
            <if test="ids !=null and ids.size()>0">
                id in
                <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            and warehouse_enabled = '0'
        </where>
    </select>
    <select id="selectVo" resultType="com.ruoyi.base.domain.vo.BsWarehouseInfoVo">
      select * from bs_warehouse_info
        <where>
            <if test="bo.warehouseCoded!=null and bo.warehouseCoded!=''">
                warehouse_coded =#{bo.warehouseCoded}
            </if>
            <if test="bo.warehouseName!=null and bo.warehouseName!=''">
              and  warehouse_name like concat('%',#{bo.warehouseName},'%')
            </if>
            <if test="bo.warehouseType!=null and bo.warehouseType!=''">
                and warehouse_type =#{bo.warehouseType}
            </if>
            <if test="bo.warehouseOrganization!=null and bo.warehouseOrganization!=''">
                and warehouse_organization =#{bo.warehouseOrganization}
            </if>
            <choose>
                <when test="bo.startTime!=null and bo.endTime!=null ">
                    and  update_time between #{bo.startTime} and #{bo.endTime}
                </when>
                <when test="bo.startTime!=null">
                    update_time &gt;= #{bo.startTime}
                </when>
                <when test="bo.endTime!=null">
                    update_time &lt;= #{bo.endTime}
                </when>
            </choose>
        </where>
    </select>
</mapper>
