<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.base.mapper.BsWhAreaInfoMapper">

    <resultMap type="com.ruoyi.base.domain.BsWhAreaInfo" id="BsWhAreaInfoResult">
        <result property="id" column="id"/>
        <result property="whAreaCoded" column="wh_area_coded"/>
        <result property="whAreaName" column="wh_area_name"/>
        <result property="whAreaType" column="wh_area_type"/>
        <result property="warehouseCoded" column="warehouse_coded"/>
        <result property="warehouseName" column="warehouse_name"/>
        <result property="warehouseId" column="warehouse_id"/>
        <result property="whAreaEnabled" column="wh_area_enabled"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
    </resultMap>
    <update id="updateWarehouseNameByWarehouseCoded">
        update bs_wh_area_info set warehouse_name=#{warehouseName} where  warehouse_coded=#{warehouseCoded}
    </update>
    <select id="selectListByIds" resultMap="BsWhAreaInfoResult">
        select * from bs_wh_area_info
        <where>
            <if test="ids!=null and ids.size()>0">
                id in
                <foreach collection="ids" index="index" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            and wh_area_enabled ='0'
        </where>
    </select>
</mapper>
