<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wmPut.mapper.WmPutTemporaryMapper">
    <resultMap type="com.ruoyi.old.wmPut.domain.WmPutTemporary" id="WmPutTemporaryResult">
        <result property="id" column="id"/>
        <result property="wmPutId" column="wm_put_id"/>
        <result property="client" column="client"/>
        <result property="cause" column="cause"/>
        <result property="detainDate" column="detain_date"/>
        <result property="detainDeptName" column="detain_dept_name"/>
        <result property="detainDept" column="detain_dept"/>
        <result property="goodsCoded" column="goods_coded"/>
        <result property="putNumber" column="put_number"/>
        <result property="causeQr" column="cause_qr"/>
        <result property="whAreaCoded" column="wh_area_coded"/>
        <result property="whBitCoded" column="wh_bit_coded"/>
        <result property="unitCoded" column="unit_coded"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <select id="selectPageList" resultType="wmPutTemporaryVo" >
        select wpin.*,wpt.*,goods.goods_name,goods.goods_coded,whbit.wh_bit_name,whbit.wh_area_name,goods.single_barbox_number,goods.small_box_number,goods.goods_specification from
        wm_put_info wpin
        left join wm_put_temporary wpt  on wpin.id= wpt.wm_put_id
        left join bs_goods_info goods on goods.goods_coded=wpt.goods_coded
        left join  bs_wh_bit_info whbit on wpt.wh_bit_coded=whbit.wh_bit_coded
        <include refid="selectListTemporaryVo"/>
    </select>
    <insert id="insertWmPutTemporary" useGeneratedKeys="true" keyProperty="id">
   insert into wm_put_temporary ( wm_put_id, client,
      cause, detain_date, detain_dept_name,
      detain_dept, goods_coded, put_number,
      wh_area_coded, wh_bit_coded, unit_coded,
      remark
      )
    values ( #{bo.wmPutId}, #{bo.client},
      #{bo.cause}, #{bo.detainDate}, #{bo.detainDeptName},
      #{bo.detainDept}, #{bo.goodsCoded}, #{bo.putNumber},
      #{bo.whAreaCoded}, #{bo.whBitCoded}, #{bo.unitCoded,},
      #{bo.remark}
      )
    </insert>
    <sql id="selectListTemporaryVo">
        <where>
            wpin.put_type=1
            <if test="bo.certificateCoded!=null and bo.certificateCoded!=''">
                and  wpin.certificate_coded=#{bo.certificateCoded}
            </if>
            <if test="bo.client!=null and bo.client!=''">
                and  wpt.client like concat('%',#{bo.client},'%')
            </if>
            <if test="bo.cause!=null and bo.cause!=''">
                and wpt.cause = #{bo.cause}
            </if>
            <if test="bo.goodsName!=null and bo.goodsName!=''">
                and  goods.goods_name  like concat('%',#{bo.goodsName},'%')
            </if>
            <if test="bo.invoicesStatus!=null and bo.invoicesStatus!=''">
                and   wpin.invoices_status = #{bo.invoicesStatus}
            </if>
            <if test="bo.wmPutCoded!=null and bo.wmPutCoded!=''">
                and   wpin.wm_put_coded = #{bo.wmPutCoded}
            </if>
            <choose>
                <when test="bo.startTime!=null and bo.endTime!=null ">
                    and  wpin.update_time between #{bo.startTime} and #{bo.endTime}
                </when>
                <when test="bo.startTime!=null">
                    wpin.update_time &gt;= #{bo.startTime}
                </when>
                <when test="bo.endTime!=null">
                    wpin.update_time &lt;= #{bo.endTime}
                </when>
            </choose>
        </where>
    </sql>
    <select id="attachedList" resultType="wmPutTemporaryVo" >
        select wpin.*,wpt.*,goods.goods_name,goods.goods_coded,whbit.wh_bit_name,whbit.wh_area_name,goods.single_barbox_number,goods.small_box_number,goods.goods_specification from
        wm_put_temporary wpt
        left join wm_put_info wpin  on wpin.id= wpt.wm_put_id
        left join bs_goods_info goods on goods.goods_coded=wpt.goods_coded
        left join  bs_wh_bit_info whbit on wpt.wh_bit_coded=whbit.wh_bit_coded
        <include refid="selectListTemporaryVo"/>
    </select>
    <delete id="deleteByPutId">
        delete from wm_put_escrow where wm_put_id in
        <foreach collection="ids" item="id" index="index" close=")" separator="," open="(">
            #{id}
        </foreach>
    </delete>
    <select id="selectListVo" resultType="wmPutTemporaryVo">
        select wpin.*,wpt.*,goods.goods_name,goods.goods_coded,whbit.wh_bit_name,whbit.wh_area_name,goods.single_barbox_number,goods.small_box_number,goods.goods_specification from
        wm_put_info wpin
        left join wm_put_temporary wpt  on wpin.id= wpt.wm_put_id
        left join bs_goods_info goods on goods.goods_coded=wpt.goods_coded
        left join  bs_wh_bit_info whbit on wpt.wh_bit_coded=whbit.wh_bit_coded
        <include refid="selectListTemporaryVo"/>
    </select>
</mapper>
