<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wmOut.mapper.WmOutPunishConfiscateMapper">

    <resultMap type="com.ruoyi.wmOut.domain.WmOutPunishConfiscate" id="WmOutPunishConfiscateResult">
        <result property="id" column="id"/>
        <result property="wmOutId" column="wm_out_id"/>
        <result property="client" column="client"/>
        <result property="cause" column="cause"/>
        <result property="wmOutReason" column="wm_out_reason"/>
        <result property="cigaretteQuality" column="cigarette_quality"/>
        <result property="unitCoded" column="unit_coded"/>
        <result property="unitName" column="unit_name"/>
    </resultMap>


</mapper>
