<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wmOut.mapper.WmOutEscrowMapper">

    <resultMap type="com.ruoyi.wmOut.domain.WmOutEscrow" id="WmOutEscrowResult">
        <result property="id" column="id"/>
        <result property="wmOutId" column="wm_out_id"/>
        <result property="certificateCodedAssaciation" column="certificate_coded_assaciation"/>
        <result property="unitCoded" column="unit_coded"/>
        <result property="whPutDate" column="wh_put_date"/>
        <result property="varietyNumber" column="variety_number"/>
        <result property="whPutNumber" column="wh_put_number"/>
        <result property="measureUnit" column="measure_unit"/>
    </resultMap>
    <sql id="wm_out_info_column">
    woi.id,wm_out_coded, woi.certificate_coded, woi.goods_id, woi.wm_out_number, woi.invoices_status, woi.wm_out_date,
    woi.storekeeper, woi.storekeeper_id, woi.synthesis_keeper, woi.synthesis_keeper_id, woi.receiver, woi.receiver_id,
    woi.create_time, woi.update_by, woi.update_time, woi.create_by, woi.out_type
    </sql>
    <sql id="wm_out_escrow_column" >
    wot.wm_out_id, wot.certificate_coded_assaciation, wot.unit_coded, wot.wh_put_date,wot.variety_number,
   wot.wh_put_number,wot.measure_unit
  </sql>
    <select id="selectPageList" resultType="wmOutEscrowVo">
        select
        <include refid="wm_out_escrow_column"/>,<include refid="wm_out_info_column"/>,
        goods.goods_name,goods.goods_specification
        from wm_out_escrow wot
        left join wm_out_info woi on wot.wm_out_id=woi.id
        left join bs_goods_info goods on goods.id = woi.goods_id
        <where>
            woi.out_type=1
            <if test="bo.wmOutCoded!=null and bo.wmOutCoded!=''">
               and woi.wm_out_coded = #{bo.wmOutCoded}
            </if>
            <if test="bo.whPutDate!=null and bo.whPutDate!=''">
              and wot.wh_put_date = #{bo.whPutDate}
            </if>
            <if test="bo.invoicesStatus!=null and bo.invoicesStatus!=''">
                and   woi.invoices_status = #{bo.invoicesStatus}
            </if>
            <if test="bo.measureUnit!=null and bo.measureUnit!=''">
               and wot.measure_unit = #{bo.measureUnit}
            </if>
            <if test="bo.unitCoded!=null and bo.unitCoded!=''">
              and  wot.unit_coded  = #{bo.unitCoded}
            </if>
            <choose>
                <when test="bo.startTime!=null and bo.endTime!=null ">
                    and  woi.update_time between #{bo.startTime} and #{bo.endTime}
                </when>
                <when test="bo.startTime!=null">
                    woi.update_time &gt;= #{bo.startTime}
                </when>
                <when test="bo.endTime!=null">
                    woi.update_time &lt;= #{bo.endTime}
                </when>
            </choose>
        </where>
    </select>
    <delete id="deleteByOutId">
        delete from wm_out_escrow where wm_out_id in
        <foreach collection="ids" item="id" index="index" close=")" separator="," open="(">
            #{id}
        </foreach>
    </delete>
    <select id="selectEscrowById" resultType="wmOutEscrowVo">
        select
        <include refid="wm_out_escrow_column"/>,<include refid="wm_out_info_column"/>,
        goods.goods_name,goods.goods_specification
        from wm_out_escrow wot
        left join wm_out_info woi on wot.wm_out_id=woi.id
        left join bs_goods_info goods on goods.id = woi.goods_id
        <where>
            woi.out_type=1 and woi.id=#{id}
        </where>
    </select>
</mapper>
